h1 {
  display: flex;
  justify-content: center;
  background-color: rgb(162, 79, 241);
  width: 100%;
  color: whitesmoke;
  padding: 1.5rem;
  text-align: center;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 0 1rem;
}

h3{
  display: flex;
  justify-content:last baseline;
  background-color: rgb(230, 139, 53);
  color: whitesmoke;
  width: 20%;
  padding: 0 1rem;
  text-align: center;
  font-size: 2rem;
}

button {
  background-color: rgb(162, 79, 241);
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

input[type="number"] {
  width: 100px;
  padding: 8px 12px;
  font-size: 16px;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  border: 2px solid rgb(162, 79, 241);
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease;
  margin: 1rem;
}

/* Efecto al enfocar */
input[type="number"]:focus {
  border-color: #26a69a;      /* color más oscuro al enfocar */
  box-shadow: 0 0 5px rgba(43, 187, 173, 0.5);
}


