<h1>Carrito de Compras</h1>

<div class="contenedor">
    <p>Productos en el carrito: {{cantidadProductos}}</p>
    <P>Total del carrito: $ {{totalCarrito}}</P>
</div>

<div class="botones">
    <input type="text" [(ngModel)]="nombreTienda"/>

    <h3>{{nombreTienda}}</h3>
    <button (click)="addProducto()">Añadir producto</button>
    <button (click)="add5Productos()">Añadir 5 productos</button>
    <button>Aplicar cupon</button>
    <button (click)="deleteProducto()">Eliminar producto</button>
    <button (click)="vaciarCarrito()">Vaciar carrito</button>
</div>

@if(notificacion){
  <div class="notificacion">
    <p>{{notificacion}}</p>
  </div>
}
