<h1>Carrito de Compras</h1>

<div class="contenedor">
    <p>Productos en el carrito: {{cantidadProductos}}</p>
    <P>Total del carrito: $ {{totalCarrito}}</P>
</div>

<div class="botones">
    <input type="text" [(ngModel)]="nombreTienda"/>

    <h3>{{nombreTienda}}</h3>
    <button (click)="addProduct()">Añadir producto</button>
    <button (click)="addFiveProducts()">Añadir 5 productos</button>
    <button (click)="deleteProduct()">Eliminar producto</button>
    <button (click)="descuento()">Aplicar 20% dcto</button>
    <button (click)="emptyCart()">Vaciar carrito</button>
</div>

@if(notificacion){
  <div class="notificacion">
    <p>{{notificacion}}</p>
  </div>
}
